@use "../../css-config/mixins.scss" as *;
#CxoAdvisory{
    min-height: 100vh;
    background-image: url("../../assets/CxoAdvisory.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;

    .header-part{
        padding: 50px 0px;
        @include md{
            padding: 127px 0px;
        }
        @include lg{
            padding: 127px 0px;
        }
        @include xl{
            padding: 127px 0px;
        }

        .hero{

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1{
                width: 300px;
                @include md{
                    width: 730px;
                }
                @include lg{
                    width: 739px;
                }
                @include xl{
                    width: 739px;
                }
            }
            
            p{
                width: 300px;
                padding: 15px;

                @include md{
                    width: 700px;
                    height: 129px;
                }
                @include lg{
                    width: 749px;
                    height: 129px;
                }
                @include xl{
                    width: 749px;
                    height: 129px;
                }
            }

        }

        .hero2{

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            @include md{
                flex-direction: column;
            }
            @include lg{
                flex-direction: row;
            }
            @include xl{
                flex-direction: row;
            }



            h2{
                // width: 360px;
                text-align: left;
                @include md{
                    width: 360px;
                }
                @include lg{
                    width: 360px;
                }
                @include xl{
                    width: 360px;
                }
            }
            
            p{
                width: 300px;
                text-align: center;

                @include md{
                    width: 648px;
                    
                }
                @include lg{
                    width: 648px;
                    text-align: left;
                }
                @include xl{
                    width: 648px;
                   
                }
            }

        }
    }


    .bgbox{
         background: url("../../assets/CxoAdvisory_bg1.png") top left no-repeat, 
              url("../../assets/CxoAdvisory_bg2.png") bottom right no-repeat;
        .information{
        width: 100%;
        margin: auto;
       
        @include lg{
             width: 1030px;
        }

        .main_box {
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-items: flex-start;
            gap: 10px;
            padding: 30px 15px;
            border-bottom: 1px solid #FFFFFF66;

            @include lg{
                flex-direction: row;
                padding: 66px 0;
            }


            .heading{
                width: 300px;
                
                padding: 10px 0;
                @include lg{
                    padding: 30px 0;
                    width: 25%;
                    height: 64px;
                }

            }

            .info_box{
                // display: flex;
                
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                width: 100%;
                // flex-wrap: wrap;
                @include md{
                     grid-template-columns: 1fr 1fr 1fr 1fr;
                     gap: 24px;
                }
                @include lg{
                    width: 75%;
                     grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .card{
                    width: 145px;
                    height: 170px;
                    border-radius: 20px;
                    box-shadow: 0 16px 32px 4px #0C0C0D33;
                    // background: radial-gradient(174.58% 174.58% at 102.96% 130.7%, rgba(223, 239, 252, 0.1) 11.76%, rgba(159, 218, 252, 0.1) 35.72%, rgba(71, 188, 253, 0.1) 52.84%, rgba(63, 138, 214, 0.1) 93.75%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 9px;
                    @include md{
                        width: 168px;
                        height: 170px;
                    }
                    p{
                        text-align: center;
                    }
                }
            }

            
        }

         .main_box1{
            display: flex;
            flex-direction: column;
            // justify-content: space-around;
            align-items: flex-start;
            gap: 10px;
            padding: 30px 15px;

            @include lg{
                flex-direction: row;
                padding: 66px 0;
            }
            .heading{
                width: 300px;
                
                padding: 10px 0;
                @include lg{
                    padding: 30px 0;
                    width: 25%;
                    height: 64px;
                }

            }
            .info_box1{
                display: flex;
                flex-direction: column;
                
            
                gap: 79px;
                width: 100%;
                // flex-wrap: wrap;
                
                @include lg{
                    width: 75%;
                }

            }
        }


    }

    }
    
    .spacer{
        height: 251px;
    }
}