body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
// @font-face {
//   font-family: "Proxima Nova";
//   src: url("./assets/fonts/proximanova-light.otf") format("opentype");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Proxima Nova";
//   src: url("./assets/fonts/proximanovacond-medium.otf") format("opentype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
