@import "../../css-config/mixins.scss";
.coming-wrapper {
    height: 100vh;
    background: url("../../assets/images/Mobile-Background.jpg") no-repeat;
    // background: url("../../assets/images/Background.jpg") center / cover no-repeat;
    // display: flex;
    align-items: center;
    color: #ffffff;
    background-size: cover;
    font-family: "proxima-nova", sans-serif;
    @include md{
        background: url("../../assets/images/DesktopBG.jpg") no-repeat;
        background-position: top center;
        background-size: cover;
   }
}

.main-heading {
    font-size: 72px;
    line-height: 72px;
    margin-top: 20px;
    font-weight: 300;
    // @include md{
    //     font-size: 40px;
    //     line-height: 40px;
    // }
    // @include lg{
    //     font-size: 72px;
    //     line-height: 72px;
    //     margin-top: 50px;
    // }
}

.coming-text {
    font-size: 26px;
    font-weight: 300;
    @include md{
        font-size: 30px;
        margin-top: 15px;
    }
    @include lg{
        font-size: 36px;
        margin-top: 20px;
    }
    
}

.contact-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    // @include md{
    //     font-size: 18px;
    //     line-height: 24px;
    // }
    // @include lg{
    //     font-size: 18px;
    //     line-height: 24px;
    // }

}


