@import "../../css-config/mixins.scss";
.coming-wrapper {
    height: 100vh;
    background: url("../../assets/images/Mobile-Background.jpg") no-repeat;
    align-items: center;
    color: #ffffff;
    background-size: cover;
    font-family: "proxima-nova", sans-serif;
    @include md{
        background: url("../../assets/images/DesktopBG.jpg") no-repeat;
        background-position: top center;
        background-size: cover;
   }


   .main-heading {
        font-size: 40px;
        line-height: 40px;
        margin: 20px 0;
        font-weight: 300;
        width: 95%;

        @include lg{
            font-size: 72px;
            line-height: 72px;
            margin: 50px 0;
        }
    }

    .coming-text {
        font-size: 26px;
        font-weight: 300;
        margin: 50px 0;
        @include md{
            font-size: 30px;
        }
        @include lg{
            font-size: 36px;
            margin: 50px 0;
            line-height:36px;
        }    
    }

    .contact-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin: 50px 0;

    }

}





